body {
	font-family: 'Roboto', sans-serif;
	background: #547ABF;
}
a {
	text-decoration: none !important;
}
:root {
	--main-bg-color: #2D4353;
	--media-heading-color: #70B3D8;
	--media-text-color: #E0DBD4;
	--media-text-size: 1.2em;	
	--emotion-text-color: #D71317;
	--background-color: #547ABF;
	--media-heading: 1.5em;
	--image-size:250px;
}

/*mobile*/
@media (max-width: 700px) {
    :root{--image-size:150px}
    .thumbs {
		width: 60px;
	}
}
@media (min-width: 699px) {
	:root{--image-size:200px};
	.thumbs {
		width: 100px;
	}
}
@media (min-width: 700px) {
	.grid-1 {
		display: grid;
		max-width: 90%;
		margin: 0 auto;
		grid-template-columns: 1;
		grid-template-rows: 900px;
		grid-gap: 10px;
		grid-template-areas: "menu" "main"
	}
	/*mobile*/
	@media (min-width: 699px) {
		.grid-1 {
			display: grid;
			width: 100%;
			margin: 0 auto;
			grid-template-columns: 1fr;
			grid-template-rows: 80px;
			grid-gap: 5px;
			grid-template-areas: "menu" "menu" "main";
		}
	}
}
/* items */

.main-item {
	background: #6a478f;
	grid-area: main;
}
.menu-item {
	background-color: #2c4053;
	overflow-y: hidden;
	white-space: nowrap;
	grid-area: menu;
}
/* specific item styles */

@media only screen and (min-width: 700px) {
	.articles {
		--background-color: #547ABF;
		grid-area: main;
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
		grid-gap: 5px;
	}
}
/*mobile*/
@media only screen and (min-width: 699px) {
	.articles {
		--background-color: #547ABF;
		margin-top: 10px;
		grid-area: main;
		display: grid;
		grid-template-columns: 1;
		grid-template-rows: auto;
		grid-gap: 5px;
	}
}

/*Big screen */

.news-article {
		background-color: #2c4053;
		box-shadow: 1px 1px 2px black;
	    width: 100%;
	    border-radius: 2px;
		display: grid;
		margin: 0 auto;
		margin-top: 10px;
		grid-gap: 5px;
		grid-template-columns: auto auto auto;
		grid-template-rows: auto;
		grid-template-areas: "i h h"
                             "i s s"                             
                             "e s s"
                             "f f f"

	}

.article-images	{
	object-fit: cover;
	width: var(--image-size);
	height: var(--image-size);
}

.news-article:hover{

	box-shadow: 2px 2px 5px black;
}

.article-heading{
	min-height: 60px;
	padding-left: 10px;
	padding-right:25px;
	color: var(--media-heading-color);
	font-size: var(--media-heading);
	text-decoration: none !important;
	grid-area: h;
}

.article-image{
	color: white;
	text-decoration: none !important;
	grid-area: i;
}

.article-story{
	color: var(--media-text-color);
	font-size: var(--media-text-size);
	padding: 8px;
	padding-right:15px;
	text-decoration: none !important;
	grid-area: s;
}

.article-emotion{
	color: white;
	text-decoration: none !important;
	grid-area: e;
}

.article-footer{
	color: white;
	text-decoration: none !important;
	grid-area: f;
	padding-left:8px;
	background-color:  var(--background-color);	
}

.emotion-li {
	color: white;
	font-size: 1em;
	list-style: none;
	margin-left: -20px;
}
.panel-default {
	border-color: #2c4053 !important;
}
.itemList {
	background-color: transparent;
	margin-right: 10px !important;
	border-style: 0px solid !important;
	display: inline-block;
	cursor: pointer;
}

.drag {
	border-radius: 10px;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}