body {
	font-family: 'Roboto', sans-serif;
}
a {
	text-decoration: none !important;
}

/*#root{
	width: 750px;
	margin: 0 auto !important;
}*/

.itemList {
	background-color: transparent;
	margin-right: 10px !important;
	border-style: 0px solid !important;
	/*display: none;/*inline-block;*/
	display: inline-block;
	cursor: pointer;
}

.panel-body {
	display:grid;
}

.drag {
	border-radius: 10px;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


@media only screen and (min-width: 320px)  { 
	img {
		border-radius:5px;
		max-height: 72px;
		max-width: 72px;
	}
}

@media only screen and (min-width: 768px)  { 
	img {
		border-radius:5px;
		max-height: 100px;
		max-width: 100px;
	}
}